*.json
*.py[cod]
__pycache__
*.scad
*.log
*.yaml
*.yml
*.sCAD
tmp/

# Virtual Environment
env/
venv/
.env/
.venv/

# C extensions
*.so

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# GitHub token file
.pypt/gh-token

# 
.DS_Store

# vim session files
*.vim

# Make sure all test data is tracked by git
!tests/testdata/*
!.github/workflows/*.yml
