docopt
PyYAML

#maltoolbox.language.class_factory:
python-jsonschema-objects

#maltoolbox.ingestors:
py2neo

#compiler
antlr4-tools
antlr4-python3-runtime

# mypy / type checking
mypy
types-docopt
types-PyYAML