name: Lint

on:
  push:
    branches:
      - main
  pull_request: ~

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Install Ruff
        run: |
          python -m pip install --upgrade pip
          pip install ruff
      - name: Check Code with Ruff
        run: |
          ruff check --statistics
          ruff format --check
